# ==========================
# IDE
# ==========================
.idea/
.vscode/

# ==========================
# Archives
# ==========================
archive/
zips/
*.zip

# ==========================
# Node
# ==========================
node_modules/
dist/

mars-standalone/node_modules/
mars-standalone/dist/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db